{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-center">Dance</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <img src="/media/classes_img/photo-1598369310535-103a776aa109.jpg" class="card-img-top" alt="dance">
                    <div class="card-body">
                    <h4 class="card-title">Ballet</h4>
                    <p class="card-text">
                        Following the Vaganova and Cecchetti methods, 
                        our ballet classes are available for students belonging to three main age groups: <br> 
                        From 5 to 7 years old;<br>
                        From 10 to 13 years old;<br>
                        From 16 to 18 years old.
                    </p>
                    <p class="card-text"><small class="text-muted"> Teachers: Olga, Natalia. </small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <img src="/media/classes_img/photo-1537365587684-f490102e1225.jpg" class="card-img-top" alt="dance">
                    <div class="card-body">
                    <h4 class="card-title">Hip-Hop</h4>
                    <p class="card-text">
                        Hip-hop dance is a fusion dance genre that incorporates elements of popping, locking, 
                        breaking, jazz, ballet, tap dancing and other styles. 
                        <br>
                        Our Hip-Hop classes are available for the following age groups: <br>
                        From 14 to 17 years old; <br>
                        From 18 to 23 years old.

                    </p>
                    <p class="card-text"><small class="text-muted"> Teachers: Evelyn. </small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}