{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container p-5">
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-4 text-center">Classes</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" id="cards-classes-row">
                    <img class="card-img-top" src="https://fitit-claudia.s3.eu-north-1.amazonaws.com/media/classes_img/photo-1599447421416-3414500d18a5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Yoga</h5>
                        <p class="card-text">Hatha Yoga, Meditation and Vinyasa. Improve strenght, flexbility and mindfulness.</p>
                        <a href="{% url 'yoga' %}" class="btn btn-dark">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" id="cards-classes-row">
                    <img class="card-img-top" src="https://fitit-claudia.s3.eu-north-1.amazonaws.com/media/classes_img/photo-1533681475364-326b6803d677.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Body Building</h5>
                        <p class="card-text">Our gyms are equipped with the very latest tools and machines to help you in your training.</p>
                        <a href="{% url 'body_building' %}" class="btn btn-dark">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" id="cards-classes-row">
                    <img class="card-img-top" src="https://fitit-claudia.s3.eu-north-1.amazonaws.com/media/classes_img/photo-1596315458574-d99efaea3b3b.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dance</h5>
                        <p class="card-text"> Our classes are available for students from 5 to 18 years old. With extra exercise classes for reheasrsals.</p>
                        <a href="{% url 'dance' %}" class="btn btn-dark">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-4 text-center"> Calendar </h2>
            </div>
        </div>
        <div class="row table-responsive ml-2 mb-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                        <th scope="col">Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="table-warning table-bordered">Crossfit</th>
                        <td class="table-success"> Morning Flow <br>h. 7.00</td>
                        <td class="table-warning"> Wake-up with Us<br> h. 07.00 </td>
                        <td class="table-success"> Morning Flow <br> h. 7.00</td>
                        <td class="table-warning"> Wake-up with Us<br> h. 07.00 </td>
                        <td class="table-danger"> Morning Boost<br> h. 07.00 </td>
                        <td class="table-success"> Morning Flow <br> h. 7.00</td>
                        <td class="table-light"> </td>
                    </tr>

                    <tr>
                        <th scope="row" class="table-success table-bordered">Yoga</th>
                        <td class="table-warning"> Outdoor training <br>h. 12.00</td>
                        <td class="table-success"> Lunch Meditation <br> h. 12.30</td>
                        <td class="table-light"> </td>
                        <td class="table-warning"> Outdoor training<br> h. 12.00 </td>
                        <td class="table-success"> Lunch Meditation<br> h. 12.30 </td>
                        <td class="table-warning"> Outdoor Training<br> h. 12.00 </td>
                        <td class="table-light"> </td>   
                    </tr>
                    <tr>
                        <th scope="row" class="table-primary table-bordered">Ballet</th>
                        <td class="table-danger"> Pilates with Adriene <br>h. 14.00</td>
                        <td class="table-success"> Hatha Yoga<br> h. 14.00 </td>
                        <td class="table-danger"> Pilates with Adriene <br> h. 14.00</td>
                        <td class="table-success"> Hatha Yoga<br> h. 14.30 </td>
                        <td class="table-danger"> Pilates with Adriene<br> h. 14.00 </td>
                        <td class="table-success"> Hatha Yoga<br> h. 14.30</td>
                        <td class="table-light"> </td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-secondary table-bordered">Hip-Hop</th>
                        <td class="table-primary"> Ballet with Natalia <br>h. 16.00</td>
                        <td class="table-warning"> Raise the Bar<br> h. 16.30 </td>
                        <td class="table-primary"> Ballet with Natalia <br> h. 16.00</td>
                        <td class="table-warning"> Raise the Bar<br> h. 16.30 </td>
                        <td class="table-primary"> Ballet with Natalia<br> h. 16.00 </td>
                        <td class="table-warning"> Raise the Bar <br> h. 16.30</td>
                        <td class="table-primary"> Floor and Barre<br> h. 16.00 </td>                    
                    </tr>
                    <tr>
                        <th scope="row" class="table-danger table-bordered">Pilates</th>
                        <td class="table-success"> Vinyasa Yoga <br>h. 18.00</td>
                        <td class="table-secondary"> Bring the Beat<br> h. 19.00 </td>
                        <td class="table-success"> Vinyasa Yoga <br> h. 18.00</td>
                        <td class="table-secondary"> Bring the Beat<br> h. 19.00 </td>
                        <td class="table-warning"> Power gain <br> h. 18.00 </td>
                        <td class="table-secondary"> Bring the Beat <br> h. 19.00</td>
                        <td class="table-success"> Vinyasa Yoga<br> h. 18.00 </td>                    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}