{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-center">Classes</h2>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/media/classes_img/photo-1599447421416-3414500d18a5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Yoga</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/media/classes_img/photo-1533681475364-326b6803d677.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Body Building</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/media/classes_img/photo-1596315458574-d99efaea3b3b.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dance</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-4 text-center"> Calendar </h2>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                        <th scope="col">Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="table-warning">Crossfit</th>
                        <td class="table-success"> Morning Flow <br>h. 7.00</td>
                        <td class="table-warning"> Wake-up with Us<br> h. 07.00 </td>
                        <td class="table-success"> Morning Flow <br> h. 7.00</td>
                        <td class="table-warning"> Wake-up with Us<br> h. 07.00 </td>
                        <td class="table-danger"> Morning Boost<br> h. 07.00 </td>
                        <td class="table-success"> Morning Flow <br> h. 7.00</td>
                        <td class="table-warning"> Wake-up with Us<br> h. 07.00 </td>
                    </tr>

                    <tr>
                        <th scope="row" class="table-success">Yoga</th>
                        <td class="table-warning"> Outdoor training <br>h. 12.00</td>
                        <td class="table-light">  </td>
                        <td class="table-danger"> Pilates with Adriene <br> h. 13.00</td>
                        <td class="table-warning"> Outdoor training<br> h. 12.00 </td>
                        <td class="table-danger"> Pilates with Adriene<br> h. 12.30 </td>
                        <td class="table-light"> </td>
                        <td class="table-danger"> Pilates with Adriene<br> h. 12.00 </td>   
                    </tr>
                    <tr>
                        <th scope="row" class="table-dark">Hip-Hop</th>
                        <td class="table-success"> Morning Flow <br>h. 14.00</td>
                        <td class="table-warning"> Wake-up with Us<br> h. 14.00 </td>
                        <td class="table-success"> Morning Flow <br> h. 14.00</td>
                        <td class="table-warning"> Wake-up with Us<br> h. 14.30 </td>
                        <td class="table-danger"> Morning Boost<br> h. 14.00 </td>
                        <td class="table-success"> Morning Flow <br> h. 14.30</td>
                        <td class="table-warning"> Wake-up with Us<br> h. 14.00 </td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-primary">Ballet</th>
                        <td class="table-success"> Morning Flow <br>h. 16.00</td>
                        <td class="table-warning"> Wake-up with Us<br> h. 16.30 </td>
                        <td class="table-success"> Morning Flow <br> h. 16.00</td>
                        <td class="table-warning"> Wake-up with Us<br> h. 16.30 </td>
                        <td class="table-danger"> Morning Boost<br> h. 16.00 </td>
                        <td class="table-success"> Morning Flow <br> h. 16.30</td>
                        <td class="table-warning"> Wake-up with Us<br> h. 16.00 </td>                    
                    </tr>
                    <tr>
                        <th scope="row" class="table-danger">Pilates</th>
                        <td class="table-success"> Vinyasa Yoga <br>h. 18.00</td>
                        <td class="table-dark"> Hit the Beat<br> h. 19.00 </td>
                        <td class="table-success"> Vinyasa Yoga <br> h. 18.00</td>
                        <td class="table-dark"> Hit the Beat<br> h. 19.00 </td>
                        <td class="table-warning"> Power gain <br> h. 18.00 </td>
                        <td class="table-dark"> Hit the Beat <br> h. 19.00</td>
                        <td class="table-success"> Vinyasa Yoga<br> h. 18.00 </td>                    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}