{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-center">Yoga</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <img src="/media/classes_img/photo-1518611012118-696072aa579a.jpg" class="card-img-top" alt="morning_yoga">
                    <div class="card-body">
                    <h4 class="card-title">Morning Flow</h4>
                    <p class="card-text">
                        Wake up with a 45 minutes Asana Flow, and set the purposes of your day with some positive energy.

                    </p>
                    <p class="card-text"><small class="text-muted"> Yogis: Alicia. </small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <img src="/media/classes_img/photo-1575052814086-f385e2e2ad1b.jpg" class="card-img-top" alt="hatha_yoga">
                    <div class="card-body">
                    <h4 class="card-title">Asana Hatha Yoga</h4>
                    <p class="card-text">
                        Asanas were claimed to provide both spiritual and physical benefits in medieval hatha yoga texts. 
                        <br> More recently, studies have provided evidence that they improve flexibility, strength, and balance; to reduce stress and conditions related to it.
                    </p>
                    <p class="card-text"><small class="text-muted"> Yogis: Viola. </small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <img src="/media/classes_img/photo-1593358578769-b7a7cf27cba7.jpg" class="card-img-top" alt="vinyasa_yoga">
                    <div class="card-body">
                    <h4 class="card-title">Vinyasa Yoga</h4>
                    <p class="card-text">
                        Ashtanga Vinyasa Yoga students are expected to memorize a sequence and to practice in the same room as others without being led by the teacher.
                        <br> The role of the teacher is to guide as well as provide adjustments or assist in postures.
                    </p>
                    <p class="card-text"><small class="text-muted"> Yogis: Andrea. </small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}