{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col text-center">
                <hr>
                <h2 class="logo-font mb-4">Subscription Plans</h2>
                <hr>
            </div>
        </div>
        <!--Subscription options buttons-->
        <div class="row">
            <div class="col">
                <div class="card text-center h-100">
                    <div class="card-header">
                        <strong> Day Pass  <br> 25 $ </strong> 
                    </div>
                    <div class="card-body">
                        <p class="card-text">A day of all activities available in the gym. 
                             Every day of the week between 06.00-16.00</p>
                        <input type="submit" class="btn btn-black rounded-0 text-uppercase" value="Add to Bag">
                    </div>
                    <div class="card-footer text-muted">
                        Terms and Conditions may apply 
                    </div>
                </div>
            </div>
            <div class="col">
               <div class="card text-center h-100">
                    <div class="card-header">
                        <strong> 1 Month Subscription <br> 45 $</strong> 
                    </div>
                    <div class="card-body">
                        <p class="card-text">Group training, strength training, cardio training. 
                             Wellness Online. Validity 1 month.</p>
                             <input type="submit" class="btn btn-black rounded-0 text-uppercase" value="Add to Bag">
                    </div>
                    <div class="card-footer text-muted">
                        Terms and Conditions may apply
                    </div>
                </div> 
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card text-center h-100">
                    <div class="card-header">
                        <strong>6 Months Subscription <br> 270 $</strong>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Group training, strength training, cardio training.
                             Wellness Online. Validity 6 months.</p>
                        <input type="submit" class="btn btn-black rounded-0 text-uppercase" value="Add to Bag">
                    </div>
                    <div class="card-footer text-muted">
                        Terms and Conditions may apply
                    </div>
                </div>
            </div>      
            <div class="col">
                <div class="card text-center h-100">
                    <div class="card-header">
                        <strong>1 Year Subscription <br> 480 $</strong>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Group training, strength training, cardio training.
                             Wellness Online. Validity 12 months.</p>
                        <input type="submit" class="btn btn-black rounded-0 text-uppercase" value="Add to Bag">
                    </div>
                    <div class="card-footer text-muted">
                        Terms and Conditions may apply
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}