{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container p-1 h-100">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4 text-center">Edit your Goal</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                
                <div>
                    <p>
                        <button class="btn btn-outline-black rounded-0 mt-5" type="submit">Edit Goal</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}