<footer class="container-fluid mb-0" id="footer">
    <div class="row">
        <div class="col-6"> 
            <span>
                <h2 class="logo-font text-uppercase mt-3 mb-4 ml-3"><strong>About Fit It</strong></h2>
                <p class="ml-3">Fit It is a project designed and developed by Claudia Lai, 
                    for educational purposes only.</p>
            </span>
        </div>
        <div class="col-6">
            <h2 class="logo-font text-uppercase mt-3 mb-4"><strong> Social Media </strong></h2>
            <ul class="list-unstyled">
                <li><a class="link" href="https://github.com/ClaudiaLie" target="_blank"><i class="fab fa-github"></i> GitHub </a></li>
                <li><a class="link" href="https://www.linkedin.com/in/laiclaudia/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a></li>
                <li><a class="link" href="https://codeinstitute.net/" target="_blank"><i class="fas fa-university"></i> Code Institute</a></li>
            </ul>
        </div>
    </div>
</footer>
