<!-- Newsletter inspired by: https://github.com/SteinOveHelset/saulgadgets -->

<div class="newsletter-wrapper row text-center bg-black" id="newsletter-wrapper">
    <div class="col bg-black dropdown">
        <button type="button" class="dropdown-toggle btn-black border-0" data-toggle="dropdown">
            <h4 class="logo-font my-1">
                Subscribe to the newsletter!
            </h4>
        </button>                        
        <div class="dropdown-menu p-3">
            <form v-on:submit.prevent="onSubmit" class="dropdown-item">
                <div class="field has-addons justify-content-center">
                    <div class="control">
                        <!-- The input pattern for the email is from Stack Overflow: https://stackoverflow.com/questions/5601647/html5-email-input-pattern-attribute-->
                        <input type="email" v-model="email" name="email" class="input" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" placeholder="Your e-mail address..">
                    </div>
                    <br>
                    <div class="control">
                        <button class="btn btn-outline-black rounded-0">Submit</button>
                    </div>
                </div>
            </form>
            <br>
            <div class="notification is-success" v-if="showSuccess">
                The e-mail address was saved!
            </div>
        </div>
    </div>
</div>

<script>
    var newsletterapp = new Vue({
        el: '#newsletter-wrapper',
        data () {
            return {
                email: '',
                showSuccess: false
            }
        },
        methods: {
            onSubmit() {
                console.log('onSubmit')

                fetch('/api/add_subscriber/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({'email': this.email})
                    })
                    .then((response) => {
                        return response.json()
                    })
                    .then((data) => {
                        console.log(data)

                        this.showSuccess = true
                        this.email = ''
                    })
                    .catch(function(error) {
                        this.showSuccess = false
                        console.log('Error:', error);
                    });
            }
        }
    })
</script>