<div class="collapse navbar-collapse" id="store-nav">
    <ul class="nav nav-tabs w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=activewear" id="clothing-link">
                Clothing
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="supplements-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Supplements
            </a>
            <div class="dropdown-menu" aria-labelledby="supplements-link">
                <a href="{% url 'products' %}?category=proteins" class="dropdown-item">Proteins</a>
                <a href="{% url 'products' %}?category=vitamins" class="dropdown-item">Vitamins</a>
                <a href="{% url 'products' %}?category=fibers" class="dropdown-item">Fibers</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?category=proteins,vitamins,fibers" class="dropdown-item">All Supplements</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gear
            </a>
            <div class="dropdown-menu" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=yoga" class="dropdown-item">Yoga</a>
                <a href="{% url 'products' %}?category=weights" class="dropdown-item">Weights</a>
                <a href="{% url 'products' %}?category=totalbody,gear" class="dropdown-item">Total Body</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?category=yoga,weights,totalbody,gear" class="dropdown-item">All Gear</a>
            </div>
        </li>
    </ul>
</div>
